<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="com.example.myapp.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".User_details"
            android:exported="false"
            android:label="@string/title_activity_user_details"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".Splash_end_Activity"
            android:exported="false"
            android:label="@string/title_activity_splash_end"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".Register"
            android:exported="false"
            android:label="@string/title_activity_select_profile"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".Post_detail_Activity"
            android:exported="false" />
        <activity
            android:name=".NewPost_Activity"
            android:exported="false" />
        <activity
            android:name=".Account_setup_NG"
            android:exported="false" />
        <activity
            android:name=".Account_setup_department"
            android:exported="false" />

        <service
            android:name="com.google.firebase.components.ComponentDiscoveryService"
            tools:remove="android:directBootAware" />

        <activity
            android:name=".Account_setup"
            android:exported="false" />
        <activity
            android:name=".About_Project"
            android:exported="false" />
        <activity
            android:name=".Reset"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".Select_Profile_Activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>